:root
{
    --text-color: #8576FF;
    --background-color: #1C1678;
    --button-color: #7BC9FF;
    --color: #A3FFD6;
    --white-color: #fff;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar
{
    background-color: var(--background-color);
    color: var(--white-color);
    min-width: 100%;
    
}
.head
{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .nav-menu
{
    list-style-type: none; 
}
.nav-menu a
{
   text-decoration: none;
   margin: 15px;
   color: var(--white-color);
   cursor: pointer;
   transition: 300ms all;
   -webkit-transition: 300ms all;
   -moz-transition: 300ms all;
   -ms-transition: 300ms all;
   -o-transition: 300ms all;
}
main{
    text-align: center;
}
.button
{
   background-color: var(--button-color);
   padding: 10px 20px;
   border-color: var(--background-color);
   cursor: pointer;
   transition: 300ms all;
   display: inline-block;
   font-weight: bold;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   -webkit-transition: 300ms all;
   -moz-transition: 300ms all;
   -ms-transition: 300ms all;
   -o-transition: 300ms all;
}
.button:hover
{
    background-color: var(--color);
}
.main-head
{
    display: flex;
    margin: 0 50px;

}
.container
{
  padding: 40px 0px;
  display: flex;
    flex-wrap: wrap;
}
.column
{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}
.column:hover
{
    border-color: var(--background-color);
}
.column img
{
    max-width: 300px;
    display: flex;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.column.text
{
    
    display: flex;
    flex-grow: 1;
    
}
.text h4 
{

    display: flex;
    justify-content: center;
    align-items: center;
}
.foot
{
    background-color: var(--background-color);
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}
.foot a
{
    color: var(--white-color);
}